.section {
  padding-top: 20px;
  padding-bottom: 30px;

  @media screen and (min-width: $tablet) {
    padding-top: 30px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 40px;
  }
}
