.section {
  padding-top: 20px;
  padding-bottom: 40px;
}

:root {
  --main-text: #000000;
  --white-text: #ffffff;
  --header-curr-page-color: #ff001b;
  --footer-text: #545454;
  --accent-color: #FF6B02;
  --pagination-btn-color: #f7f7f7;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text);
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 32px;
  }
}

.header {
  position: relative;
  height: 230px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("../images/filmoteka/mobile/background-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: url("../images/filmoteka/mobile/background-@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .header {
    background-image: url("../images/filmoteka/tablet/background-1.jpg");
    height: 216px;
    padding-left: 31px;
    padding-right: 31px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: url("../images/filmoteka/tablet/background-@2x.jpg");
  }
}

@media screen and (min-width: 1280px) {
  .header {
    background-image: url("../images/filmoteka/desktop/background-1.jpg");
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header {
    background-image: url("../images/filmoteka/desktop/background-@2x.jpg");
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-animation: animate 1500ms infinite 1500ms;
          animation: animate 1500ms infinite 1500ms;
}

.logo__svg {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}

@media screen and (min-width: 768px) {
  .logo__svg {
    margin-right: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .logo__svg {
    margin-right: 10px;
  }
}

.logo__title {
  position: absolute;
  top: 35px;
  left: 64px;
  font-size: 30px;
  line-height: 35px;
  color: var(--white-text);
  display: none;
}

@media screen and (min-width: 768px) {
  .logo__title {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .logo__title {
    display: block;
  }
}

.logo__title {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.logo__title:before {
  content: '';
  background: red;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.logo__title:hover {
  background-position: 0;
}

.logo__title:hover::before {
  width: 100%;
}

.menu-button {
  position: absolute;
  top: 40px;
  right: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 20;
  fill: white;
}

.menu-button:hover, .menu-button:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 767px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container.is-open {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#5c0611), color-stop(10.8997%), color-stop(21.7993%, #0e171e), color-stop(60.8997%), to(#471016));
  background: linear-gradient(90deg, #5c0611 0%, 10.8997%, #0e171e 21.7993%, 60.8997%, #471016 100%);
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .btn__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
    gap: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .btn__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
    gap: 40px;
  }
}

.btn__item {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn__item:before {
  content: '';
  background: red;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn__item:hover {
  background-position: 0;
}

.btn__item:hover::before {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .btn__item {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .link__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .link__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
  }
}

.link__item {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.link__item:before {
  content: '';
  background: red;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.link__item:hover {
  background-position: 0;
}

.link__item:hover::before {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .link__item {
    margin-bottom: 40px;
  }
}

.btn_header {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 12px;
  line-height: 14px;
  color: var(--white-text);
  text-transform: uppercase;
  cursor: pointer;
}

.active {
  position: relative;
}

.active:before {
  content: '';
  background: red;
  display: block;
  position: absolute;
  bottom: -3.5px;
  left: 0;
  width: 100%;
  height: 3px;
}

a {
  text-decoration: none;
  color: var(--white-text);
}

.search-input {
  background-color: transparent;
  width: 280px;
  font-size: 14px;
  line-height: 16px;
  border: none;
  outline: none;
  border-bottom: 0.5px solid #ffffff;
  color: var(--white-text);
}

.search-input:focus-visable {
  border: none;
}

@media screen and (min-width: 768px) {
  .search-input {
    width: 336px;
  }
}

@media screen and (min-width: 1280px) {
  .search-input {
    width: 394px;
  }
}

.search-form {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 140px);
          transform: translate(-50%, 140px);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 768px) {
  .search-form {
    -webkit-transform: translate(-50%, 116px);
            transform: translate(-50%, 116px);
  }
}

.form-btn {
  position: absolute;
  top: 15%;
  right: 0;
  background-color: transparent;
  padding: 0;
  border: none;
}

.header-library {
  position: relative;
  height: 230px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("../images/library/mobile/background-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header-library {
    background-image: url("../images/library/mobile/background-@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .header-library {
    background-image: url("../images/library/tablet/background-1.jpg");
    height: 219px;
    padding-left: 31px;
    padding-right: 31px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header-library {
    background-image: url("../images/library/tablet/background-@2x.jpg");
  }
}

@media screen and (min-width: 1280px) {
  .header-library {
    background-image: url("../images/library/desktop/background-1.jpg");
    padding-left: 32px;
    padding-right: 32px;
    height: 216px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header-library {
    background-image: url("../images/library/desktop/background-@2x.jpg");
  }
}

.header-btn__list {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 124px);
          transform: translate(-50%, 124px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -ms-flex-item-align: center;
      align-self: center;
}

@media screen and (min-width: 768px) {
  .header-btn__list {
    -webkit-transform: translate(-50%, 115px);
            transform: translate(-50%, 115px);
  }
}

@media screen and (min-width: 1280px) {
  .header-btn__list {
    -webkit-transform: translate(-50%, 114px);
            transform: translate(-50%, 114px);
  }
}

.header-btn {
  width: 130px;
  height: 44px;
  border-radius: 5px;
  text-transform: uppercase;
  color: var(--white-text);
  background-color: transparent;
  border: 1px solid white;
}

@media screen and (min-width: 768px) {
  .header-btn {
    width: 152px;
    height: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .header-btn {
    width: 147px;
    height: 42px;
  }
}

.js-current {
  border: none;
  background-color: var(--accent-color);
  -webkit-filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
          filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
}

.header-btn__item:hover, .header-btn__item:focus {
  border-radius: 5px;
  background-color: var(--accent-color);
}

.film_list {
  padding: 20px 0;
}

.film-list__item {
  -webkit-transition: scale 150ms linear, -webkit-box-shadow 150ms linear;
  transition: scale 150ms linear, -webkit-box-shadow 150ms linear;
  transition: scale 150ms linear, box-shadow 150ms linear;
  transition: scale 150ms linear, box-shadow 150ms linear, -webkit-box-shadow 150ms linear;
  cursor: pointer;
}

.film-list__item:hover,
.film-list__item:focus {
  scale: 1.006;
}

.film-list__item-poster {
  border-radius: 5px;
  margin-bottom: 10px;
}

.film-list__item-title {
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
}

.film-list__item-info {
  font-size: 20px;
  line-height: 1.2;
  color: var(--accent-color);
}

.film-list__item-genres {
  margin-right: 10px;
}

.film-list__item-year {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .film-list__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .film_list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding: 60px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .film-list__item-poster {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1280px) {
  .film_list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    row-gap: 32px;
    -webkit-column-gap: 16px;
            column-gap: 16px;
    padding: 60px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .film-list__item-poster {
    margin-bottom: 12px;
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
}

.no-scroll {
  position: fixed;
  top: 50%;
  left: 50%;
  overflow: auto;
}

.modal-window {
  position: fixed;
  width: 280px;
  top: 50%;
  left: 50%;
  display: block;
  -webkit-transform: translate(-50%, -50%) scaleY(1);
          transform: translate(-50%, -50%) scaleY(1);
  grid-column-gap: 30px;
  border: 1px solid var(--main-text);
  background-color: var(--white-text);
  border-radius: 5px;
  padding: 40px 16px;
  overflow-x: hidden;
}

@media screen and (min-width: 480px) {
  .modal-window {
    width: 380px;
  }
}

@media screen and (min-width: 768px) {
  .modal-window {
    top: 50%;
    left: 50%;
    width: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 550px;
    overflow-y: hidden;
  }
}

@media screen and (min-width: 1024px) {
  .modal-window {
    width: 815px;
    height: 560px;
  }
}

.visually-hidden {
  visibility: hidden;
  display: none;
}

.btn-close_modal {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: var(--main-text);
  background: var(--white-text);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-img {
  max-width: 360px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .modal-img {
    width: 300px;
    height: 450px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .modal-img {
    margin-top: 0px;
  }
}

.film-name {
  position: relative;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: var(--main-text);
}

.film-info {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.film-info__item {
  margin-bottom: 8px;
}

.film-info__params {
  color: var(--main-text);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  margin-bottom: 8px;
}

.film-info__list {
  -ms-grid-columns: 108px 2fr;
      grid-template-columns: 108px 2fr;
  display: -ms-grid;
  display: grid;
  color: var(--main-text);
}

.film-info__list:first-child {
  margin-right: 80px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
}

.film-about_title {
  text-transform: uppercase;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
}

.film-description {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #000000;
}

@media screen and (max-width: 767px) {
  .film-description {
    overflow-y: scroll;
  }
}

.modal-btn-wrap {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-btn:first-child {
  margin-right: 15px;
}

.modal__add-watched {
  background-color: var(--white-text);
  text-align: center;
  text-transform: uppercase;
  color: var(--main-text);
  cursor: pointer;
  width: 110px;
  height: 44px;
  border: 1px #000 solid;
  border-radius: 5px;
  padding: 6px 27px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__add-queue {
  background-color: var(--white-text);
  text-align: center;
  text-transform: uppercase;
  color: var(--main-text);
  cursor: pointer;
  width: 110px;
  height: 44px;
  border: 1px #000 solid;
  border-radius: 5px;
  padding: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.span-info__current-item {
  width: 30px;
  height: 14px;
  background-color: var(--accent-color);
  color: var(--white-text);
  text-align: center;
  border-radius: 5px;
  display: inline-block;
}

.span-info__item {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  background-color: var(--pagination-btn-color);
  color: var(--main-text);
  border-radius: 5px;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f7f7f7;
}

.footer__section-down {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__section {
  text-align: center;
}

.footer__desc {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #545454;
}

.footer__team-btn {
  padding: 0;
  border-color: transparent;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

.footer__svg {
  -webkit-animation: animate150 1000ms infinite 1500ms;
          animation: animate150 1000ms infinite 1500ms;
}

.footer__svg.left {
  margin-left: 10px;
  fill: #3e29ff;
}

.footer__svg.right {
  margin-right: 10px;
  fill: #ffd706;
}

@-webkit-keyframes animate150 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animate150 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (min-width: 768px) {
  .footer__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__section-down {
    margin-top: 0;
  }
  .footer__desc {
    font-size: 16px;
    line-height: 19px;
  }
}

.footer__modal-content {
  background: linear-gradient(45deg, #2a0018, #362e29, #020240);
  background-size: 200% 200%;
  -webkit-animation: gradient 5s ease infinite;
          animation: gradient 5s ease infinite;
  -webkit-box-shadow: 2px 2px 10px #ff6b08;
          box-shadow: 2px 2px 10px #ff6b08;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #ff6b08;
  border-radius: 10px;
  text-align: center;
  width: 80%;
}

.footer__team-btn {
  padding: 0;
  border-color: transparent;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

.footer__modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.close:hover,
.close:focus {
  color: #ff6b08;
  text-decoration: none;
  cursor: pointer;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #ff6b08;
}

.team__title-svg {
  width: 40px;
  height: 40px;
}

.team__list {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
}

.team__item-img {
  display: inline;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 1px solid #ff6b08;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.team__item-img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-box-shadow: 2px 2px 16px #ff6b08;
          box-shadow: 2px 2px 16px #ff6b08;
}

.team__item-title {
  margin: 3px 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}

.team__item-role {
  margin: 3px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
}

.team__item-svg {
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.team__item-svg:hover,
.team__item-svg:focus {
  fill: #ff6b08;
  animation: 1s linear 0s normal none running rot;
  -webkit-animation: 1s linear 0s normal none running rot;
  width: 100px;
}

@keyframes rot {
  0% {
    -webkit-transform: rotate(0deg) scale(1.5);
            transform: rotate(0deg) scale(1.5);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (min-width: 460px) {
  .team__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    grid-column-gap: 30px;
    grid-row-gap: 25px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .footer__modal-content {
    width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  .footer__modal-content {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .footer__modal-content {
    width: 50%;
  }
}

.library-empty__title {
  max-width: 240px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .library-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .library-list {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
/*# sourceMappingURL=index.css.map */