<div id="modalFooter" class="footer__modal is-hidden" data-modal>
    <div class="footer__modal-content">
    <span class="close" data-modal-close>&times;</span>
    <div class="team">
    <h2 class="team__title">COPY, PASTE AND REPETA &nbsp;</h2>
    <picture>
        <source
        srcset="./images/team/logo-cat.webp"
        type="image/webp"
    />
    <source
        srcset="./images/team/logo-cat.png"
    />
    <img
        src="./images/team/logo-cat.png"
        alt="logo cat"
        width="40"
        height="40"
        class="team__title-svg"
    >
    </picture>
    </div>
    <ul class="team__list">
        <li class="team__item">
            <picture>
            <source
            srcset="./images/team/mykola.webp"
            type="image/webp"
        />
        <source
            srcset="./images/team/mykola.jpeg"
        />
        <img
            src="./images/team/mykola.jpeg"
            alt="Mykola Masiuk"
            width="50"
            height="50"
            class="team__item-img"
        />
        </picture>
            <h3 class="team__item-title">Mykola Masiuk</h3>
            <p class="team__item-role">Team Lead</p>
            <a href="https://github.com/masiuk-mykola" target="_blank">
            <svg class="team__item-svg" width="20" height="20">
            <use href="./images/sprite.svg#icon-github"></use>
            </svg>
        </a>
    </li>
        <li class="team__item">
        <picture>
            <source
            srcset="./images/team/anastasiia.webp"
            type="image/webp"
        />
        <source
            srcset="./images/team/anastasiia.jpeg"
        />
        <img
            src="./images/team/anastasiia.jpeg"
            alt="Anastasiia Seroshtan"
            width="100"
            height="100"
            class="team__item-img"
        />
        </picture>
        <h3 class="team__item-title">Anastasiia Seroshtan</h3>
        <p class="team__item-role">Scrum Master</p>
        <a href="https://github.com/AnastasiyaSeroshtan" target="_blank">
        <svg class="team__item-svg" width="20" height="20">
            <use href="./images/sprite.svg#icon-github"></use>
        </svg>
        </a>
    </li>
    <li class="team__item">
        <picture>
        <source
        srcset="./images/team/anastasiiam.webp"
        type="image/webp"
        />
        <source
        srcset="./images/team/anastasiiam.jpeg"
        />
        <img
        src="./images/team/anastasiiam.jpeg"
        alt="Anastasiia Maslak"
        width="100"
        height="100"
        class="team__item-img"
        />
    </picture>
        <h3 class="team__item-title">Anastasiia Maslak</h3>
        <p class="team__item-role">Developer</p>
        <a href="https://github.com/AnastasiiaKim1996" target="_blank">
        <svg class="team__item-svg" width="20" height="20">
        <use href="./images/sprite.svg#icon-github"></use>
        </svg>
    </a>
    </li>
    <li class="team__item">
        <picture>
        <source
        srcset="./images/team/andrii.webp"
        type="image/webp"
        />
        <source
        srcset="./images/team/andrii.jpeg"
        />
        <img
        src="./images/team/andrii.jpeg"
        alt="Andrii Kulyk"
        width="100"
        height="100"
        class="team__item-img"
        />
    </picture>
        <h3 class="team__item-title">Andrii Kulyk</h3>
        <p class="team__item-role">Developer</p>
        <a href="https://github.com/BlackInHUB" target="_blank">
        <svg class="team__item-svg" width="20" height="20">
        <use href="./images/sprite.svg#icon-github"></use>
        </svg>
    </a>
    </li>
    <li class="team__item">
    <picture>
        <source
        srcset="./images/team/dmytro.webp"
        type="image/webp"
    />
    <source
        srcset="./images/team/dmytro.jpeg"
    />
    <img
        src="./images/team/dmytro.jpeg"
        alt="Dmytro Natalchuk"
        width="100"
        height="100"
        class="team__item-img"
    />
    </picture>
    <h3 class="team__item-title">Dmytro Natalchuk</h3>
    <p class="team__item-role">Developer</p>
    <a href="https://github.com/Dmitry-Natalchuk" target="_blank">
    <svg class="team__item-svg" width="20" height="20">
        <use href="./images/sprite.svg#icon-github"></use>
    </svg>
    </a>
</li>
<li class="team__item">
    <picture>
    <source
    srcset="./images/team/maryna.webp"
    type="image/webp"
    />
    <source
    srcset="./images/team/maryna.jpeg"
    />
    <img
    src="./images/team/maryna.jpeg"
    alt="Maryna Korbet"
    width="100"
    height="100"
    class="team__item-img"
    />
</picture>
    <h3 class="team__item-title">Maryna Korbet</h3>
    <p class="team__item-role">Developer</p>
    <a href="https://github.com/Maryna-Korbet" target="_blank">
    <svg class="team__item-svg" width="20" height="20">
    <use href="./images/sprite.svg#icon-github"></use>
    </svg>
</a>
</li>
<li class="team__item">
    <picture>
    <source
    srcset="./images/team/oleh.webp"
    type="image/webp"
    />
    <source
    srcset="./images/team/oleh.jpeg"
    />
    <img
    src="./images/team/oleh.jpeg"
    alt="Oleh Lavreniuk"
    width="100"
    height="100"
    class="team__item-img"
    />
</picture>
    <h3 class="team__item-title">Oleh Lavreniuk</h3>
    <p class="team__item-role">Developer</p>
    <a href="https://github.com/Oleh-Lavreniuk" target="_blank">
    <svg class="team__item-svg" width="20" height="20">
    <use href="./images/sprite.svg#icon-github"></use>
    </svg>
</a>
</li>
<li class="team__item">
    <picture>
    <source
    srcset="./images/team/viktor.webp"
    type="image/webp"
    />
    <source
    srcset="./images/team/viktor.jpeg"
    />
    <img
    src="./images/team/viktor.jpeg"
    alt="Viktor Selyschev"
    width="100"
    height="100"
    class="team__item-img"
    />
</picture>
    <h3 class="team__item-title">Viktor Selyschev</h3>
    <p class="team__item-role">Developer</p>
    <a href="https://github.com/VictorSelischev" target="_blank">
    <svg class="team__item-svg" width="20" height="20">
    <use href="./images/sprite.svg#icon-github"></use>
    </svg>
</a>
</li>
<li class="team__item">
    <picture>
    <source
    srcset="./images/team/yuliia.webp"
    type="image/webp"
    />
    <source
    srcset="./images/team/yuliia.jpeg"
    />
    <img
    src="./images/team/yuliia.jpeg"
    alt="Yuliia Suprun"
    width="100"
    height="100"
    class="team__item-img"
    />
</picture>
    <h3 class="team__item-title">Yuliia Suprun</h3>
    <p class="team__item-role">Developer</p>
    <a href="https://github.com/uliasuprun" target="_blank">
    <svg class="team__item-svg" width="20" height="20">
    <use href="./images/sprite.svg#icon-github"></use>
    </svg>
</a>
</li>
    </ul>
    </div>
</div>