<footer class="footer">
  <div class="footer__section">
  <p class="footer__desc">&#169;  2022 | All Rights Reserved |</p>
  <div class="footer__section-down">
  <p class="footer__desc">&nbsp;Developed with</p>
  <svg class="footer__svg left" width="14" height="12.75">
    <use href="./images/sprite.svg#icon-heart"></use>
  </svg>
  <svg class="footer__svg right" width="14" height="12.75">
    <use href="./images/sprite.svg#icon-heart"></use>
  </svg>
  <p class="footer__desc">by&nbsp;</p>
    <button id="btnFooter" class="footer__team-btn footer__desc" data-modal-open>
      GoIT Students
    </button>
  </div>
</div>  
</footer>
