<header class="header">
  <div class="logo">
    <svg class="logo__svg" width="24px" height="24px">
      <use href="./images/symbol-defs.svg#icon-film"></use>
    </svg>
  </div>
  <a href="./index.html" class="logo__title">Filmoteka</a>

  <form class="search-form" id="search-form">
    <input
      class="search-input"
      id="search"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Movie search"
      autofocus
    />
    <button class="form-btn" type="submit">
      <svg width="12px" height="12px">
        <use href="./images/symbol-defs.svg#icon-search"></use>
      </svg>
    </button>
  </form>

  <button
    type="button"
    class="menu-button"
    aria-expanded="false"
    aria-controls="menu-container"
    data-menu-button
  >
    <svg width="24px" height="24px" aria-label="mobile menu switcher">
      <use class="icon-cross" href="./images/symbol-defs.svg#icon-cross"></use>
      <use class="icon-menu" href="./images/symbol-defs.svg#icon-menu"></use>
    </svg>
  </button>

  <div class="menu-container" id="menu-container" data-menu>
    <ul class="link__list">
      <li class="link__item">
        <a href="./index.html" class="link_header active">HOME</a>
      </li>
      <li class="link__item library-link-for-sing">
        <a href="./library.html" class="link_header">MY LIBRARY</a>
      </li>
    </ul>
    <ul class="btn__list sing-list-btn">
      <li class="btn__item">
        <button class="btn_header js-up">Sign Up</button>
      </li>
      <li class="btn__item">
        <button class="btn_header js-in">Sign In</button>
      </li>
    </ul>
    <ul>
      <li class="btn__item">
        <button class="btn_header js-out is is-hidden">Sign Out</button>
      </li>
    </ul>
  </div>
</header>
