<header class="header-library">
  <div class="logo">
    <svg class="logo__svg" width="24px" height="24px">
      <use href="./images/symbol-defs.svg#icon-film"></use>
    </svg>
  </div>
  <a href="./index.html" class="logo__title">Filmoteka</a>

  <ul class="header-btn__list">
    <li class="header-btn__item">
      <button class="header-btn" type="button" data-action="watched">
        watched
      </button>
    </li>
    <li class="header-btn__item">
      <button class="header-btn js-current" type="button" data-action="queue">
        queue
      </button>
    </li>
  </ul>

  <button
    type="button"
    class="menu-button"
    aria-expanded="false"
    aria-controls="menu-container"
    data-menu-button
  >
    <svg width="24px" height="24px" aria-label="mobile menu switcher">
      <use class="icon-cross" href="./images/symbol-defs.svg#icon-cross"></use>
      <use class="icon-menu" href="./images/symbol-defs.svg#icon-menu"></use>
    </svg>
  </button>

  <div class="menu-container" id="menu-container" data-menu>
    <ul class="link__list">
      <li class="link__item">
        <a href="./index.html" class="link_header">HOME</a>
      </li>
      <li class="link__item">
        <a href="./library.html" class="link_header active">MY LIBRARY</a>
      </li>
    </ul>
  </div>
  <div class="theme-switch">
    <svg
      class="theme-switch-icon"
      width="20px"
      height="20px"
      role="img"
      aria-label="icon moon"
    >
      <use href="./images/sprite.svg#icon-sun"></use>
    </svg>

    <div class="theme-switch-control">
      <input
        class="theme-switch-toggle"
        type="checkbox"
        name="theme"
        id="theme-switch-toggle"
        aria-label="theme switcher"
      />
      <label
        aria-hidden="true"
        class="theme-switch-track"
        for="theme-switch-toggle"
      ></label>
      <div aria-hidden="true" class="theme-switch-marker"></div>
    </div>

    <svg
      class="theme-switch-icon"
      width="20px"
      height="20px"
      aria-label="icon moon"
    >
      <use href="./images/sprite.svg#icon-moon"></use>
    </svg>
  </div>
</header>
