<div class="container pagination">
  <button type="button" class="pagination-button arrow-left">
    <svg class="pagination-icon">
      <use href="../images/pagination/icon-arrow-left.svg"></use>
    </svg>
  </button>
  <ul class="pagination-list"></ul>
  <span class="pagination-dots after-dots">...</span>
  <button class="pagination-button last-button"></button>
  <button type="button" class="pagination-button arrow-right">
    <svg class="pagination-icon">
      <use href="../images/pagination/icon-arrow-right.svg"></use>
    </svg>
  </button>
</div>
