.container .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: $pre-tablet) {
  .pagination {
    padding: 30px 0;
  }
}
@media screen and (min-width: $tablet) {
  .pagination {
    padding: 50px 0 40px;
  }
}

.pagination-button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: var(--dark-theme-background);
  justify-content: center;
  align-items: center;
  margin: 0 2px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  z-index: 0;
  line-height: 1.333;
}

.pagination-button:hover {
  background-color: var(--accent-color);
  color: var(--white-text);
  border-radius: 5px;
}

.pagination-icon {
  position: relative;
  z-index: -1;
  width: 16px;
  height: 16px;
}

.arrow-left,
.arrow-right {
  width: 40px;
  height: 40px;
  padding: 4px;
  background-color: var(--pagination-btn-color);
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.arrow-left:hover,
.arrow-right:hover {
  fill: var(--pagination-btn-color);
}

@media screen and (max-width: 767px) {
  .pagination-dots,
  .first-button,
  .last-button {
    display: none;
  }
}

.pagination-dots {
  margin-right: 16px;
  margin-left: 16px;
  color: var(--main-text);
}

.pagination-list {
  display: flex;
  align-items: center;
}

.current-pagination {
  background-color: var(--accent-color);
  border-radius: 5px;
  color: var(--pagination-btn-color);
}

.container .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: $pre-tablet) {
  .pagination {
    padding: 30px 0;
  }
}
@media screen and (min-width: $tablet) {
  .pagination {
    padding: 50px 0 40px;
  }
}

.pagination-button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: var(--dark-theme-background);
  justify-content: center;
  align-items: center;
  margin: 0 2px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  z-index: 0;
  line-height: 1.333;
}

.pagination-button:hover {
  background-color: var(--accent-color);
  color: var(--white-text);
  border-radius: 5px;
}

.pagination-icon {
  position: relative;
  z-index: -1;
  width: 16px;
  height: 16px;
}

.arrow-left,
.arrow-right {
  width: 40px;
  height: 40px;
  padding: 4px;
  background-color: var(--pagination-btn-color);
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.arrow-left:hover,
.arrow-right:hover {
  fill: var(--pagination-btn-color);
}

@media screen and (max-width: 767px) {
  .pagination-dots,
  .first-button,
  .last-button {
    display: none;
  }
}

.pagination-dots {
  margin-right: 16px;
  margin-left: 16px;
  color: var(--main-text);
}

.pagination-list {
  display: flex;
  align-items: center;
}

.current-pagination {
  background-color: var(--accent-color);
  border-radius: 5px;
  color: var(--pagination-btn-color);
}
