.header {
  position: relative;
  height: 230px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;

  background-image: url('../images/filmoteka/mobile/background-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/filmoteka/mobile/background-@2x.jpg');
  }

  @media screen and (min-width: $tablet) {
    background-image: url('../images/filmoteka/tablet/background-1.jpg');
    height: 216px;
    padding-left: 31px;
    padding-right: 31px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/filmoteka/tablet/background-@2x.jpg');
    }
  }

  @media screen and (min-width: $desktop) {
    background-image: url('../images/filmoteka/desktop/background-1.jpg');
    padding-left: 32px;
    padding-right: 32px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/filmoteka/desktop/background-@2x.jpg');
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  align-self: flex-start;
  animation: animate 1500ms infinite 1500ms;
}
.logo__svg {
  transform: rotateX(0deg);
  @keyframes animate {
    0% {
      transform: rotateX(0deg);
    }
    50% {
      transform: rotateX(90deg);
    }
    100% {
      transform: rotateX(180deg);
    }
  }

  @media screen and (min-width: $tablet) {
    margin-right: 10px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 10px;
  }
}
.logo__title {
  position: absolute;
  top: 35px;
  left: 64px;
  font-size: 30px;
  line-height: 35px;
  color: var(--white-text);
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
  }

  @media screen and (min-width: $desktop) {
    display: block;
  }
}

.logo__title {
  transition: all 0.3s ease-in-out;
}

.logo__title:before {
  content: '';
  background: red;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.logo__title:hover {
  background-position: 0;
}

.logo__title:hover::before {
  width: 100%;
}

.menu-button {
  position: absolute;
  top: 40px;
  right: 20px;
  display: inline-flex;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 20;
  fill: white;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 767px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  &.is-open {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    text-align: center;

    background: linear-gradient(
      90deg,
      rgb(92, 6, 17) 0%,
      10.8997%,
      rgb(14, 23, 30) 21.7993%,
      60.8997%,
      rgb(71, 16, 22) 100%
    );
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    align-self: flex-start;
  }
}

.btn__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    margin-bottom: 40px;
    gap: 40px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    margin-bottom: 40px;
    gap: 40px;
  }
}

.btn__item {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.btn__item:before {
  content: '';
  background: red;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.btn__item:hover {
  background-position: 0;
}

.btn__item:hover::before {
  width: 100%;
}

.btn__item {
  @media screen and (max-width: $tablet) {
    margin-bottom: 40px;
  }
}

.link__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
  }
}

.link__item {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.link__item:before {
  content: '';
  background: red;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.link__item:hover {
  background-position: 0;
}

.link__item:hover::before {
  width: 100%;
}

.link__item {
  @media screen and (max-width: $tablet) {
    margin-bottom: 40px;
  }
}

.btn_header {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 12px;
  line-height: 14px;
  color: var(--white-text);
  text-transform: uppercase;
  cursor: pointer;
}
.active {
  position: relative;
}

.active:before {
  content: '';
  background: red;
  display: block;
  position: absolute;
  bottom: -3.5px;
  left: 0;
  width: 100%;
  height: 3px;
}

a {
  text-decoration: none;
  color: var(--white-text);
}

.search-input {
  background-color: transparent;
  width: 280px;
  font-size: 14px;
  line-height: 16px;
  border: none;
  outline: none;
  border-bottom: 0.5px solid #ffffff;
  color: var(--white-text);
  &:focus-visable {
    border: none;
  }
  @media screen and (min-width: $tablet) {
    width: 336px;
  }

  @media screen and (min-width: $desktop) {
    width: 394px;
  }
}

.search-form {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 140px);
  align-self: center;
  @media screen and (min-width: $tablet) {
    transform: translate(-50%, 116px);
  }
}

.form-btn {
  position: absolute;
  top: 15%;
  right: 0;
  background-color: transparent;
  padding: 0;
  border: none;
}

// Library

.header-library {
  position: relative;
  height: 230px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;

  background-image: url('../images/library/mobile/background-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/library/mobile/background-@2x.jpg');
  }

  @media screen and (min-width: $tablet) {
    background-image: url('../images/library/tablet/background-1.jpg');
    height: 219px;
    padding-left: 31px;
    padding-right: 31px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/library/tablet/background-@2x.jpg');
    }
  }

  @media screen and (min-width: $desktop) {
    background-image: url('../images/library/desktop/background-1.jpg');
    padding-left: 32px;
    padding-right: 32px;
    height: 216px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/library/desktop/background-@2x.jpg');
    }
  }
}

.header-btn__list {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 124px);
  display: flex;
  gap: 16px;
  align-self: center;
  @media screen and (min-width: $tablet) {
    transform: translate(-50%, 115px);
  }

  @media screen and (min-width: $desktop) {
    transform: translate(-50%, 114px);
  }
}
.header-btn {
  width: 130px;
  height: 44px;

  border-radius: 5px;
  text-transform: uppercase;
  color: var(--white-text);
  background-color: transparent;
  border: 1px solid white;
  @media screen and (min-width: $tablet) {
    width: 152px;
    height: 44px;
  }

  @media screen and (min-width: $desktop) {
    width: 147px;
    height: 42px;
  }
}

.js-current {
  border: none;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
}

.header-btn__item {
  &:hover,
  &:focus {
    border-radius: 5px;

    background-color: var(--accent-color);
  }
}
