.library__container {
  text-align: center;
}

.library-empty__title {
  max-width: 220px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: 'Aladin', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  // text-align: center;

  @media screen and (min-width: $tablet) {
    max-width: 300px;
    margin-bottom: 30px;

    font-size: 28px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 380px;
    margin-bottom: 40px;
    font-size: 36px;
    
  }
}

.library-empty__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 44px;

  font-weight: 400;

  border-radius: 5px;
  text-transform: uppercase;
  // text-align: center;
  color: var(--white-text);
  background-color: #222222;
  border: 1px solid white;

  @media screen and (min-width: $tablet) {
    width: 152px;
    height: 44px;
  }

  @media screen and (min-width: $desktop) {
    width: 147px;
    height: 42px;
  }
}

.library-empty__btn:hover {
  color: #222222;
  background-color: transparent;
  border: 1px solid #222222;

  font-weight: 500;
}